@import '~bootstrap/dist/css/bootstrap.min.css';



.form-group label {
    color: grey;
    
  }
  
  .form-group input {
    font-weight: 500;
  }
  
  .form-group input::placeholder {
    color: #c0bdbd;
    font-weight: 300;
  }

  .form-group textarea::placeholder {
    color: #c0bdbd;
    font-weight: 300;
  }
  .help-block{
    color: #b30505;
    font-weight: 100;
  }

  thead th{
    font-weight: 600;
    background-color: rgb(252, 252, 168) !important;
  }
  
  table tbody tr:hover {
    background-color: #fcfbf3;
    
  }
  td{
    font-weight: 495;
  }
  tr{
    background-color: #ddf1f8;
  }
  
  /*for invalid form controls*/
  input.invalid {
    border-color: red;
  }
  select.invalid {
    border-color: red;
  }
  .jumbo-heading{
      background-color: rgb(7, 98, 121);
      color: white;
      text-shadow: #c0bdbd;
      font: outline;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;
      font-size: 30px;
      margin-bottom: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } 
  #yesRadio{
      padding-right: 5px;
  }
  #yesRadioLabel{
    padding-right: 5px;
}
.btn{
  background-color: #055b75 !important;
}
.btn:hover{
  background-color: #143b46 !important;
}
#editIcon{
  margin: 8px;
}
.modal.show{
  display: block;
}
.modal {
  overflow-y:auto;
}
.modal-title{
  text-align: center;
}
.fa-edit {
  color: rgb(7, 76, 133);
}
select::-ms-expand { 
  display: block; 
}
body {
  background-image: url('./assets/images/bg2.jpg');
  background-size: cover;
}
#addUserButton{
  background-color: #0ca80c !important;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  height: 80vh;
  overflow-y: auto;
}

#buttonCancel{
  background-color: #d81111 !important;
}
.userTable{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#searchBar{
  background-color: rgb(255, 255, 219);
}